html, body {
  font-family: 'Lato', sans-serif;
}

.content {
  @apply text-lg;
  @apply leading-loose;
  @apply text-gray-400;
}

.content ul {
  @apply mb-6;
}

.content ul li {
  @apply mb-2;
  @apply pl-4;
  @apply list-disc;
  @apply list-inside;
}

.content p {
  @apply mb-8;
}

.content h2 {
  @apply mt-4;
  @apply mb-4;
  @apply text-2xl;
  @apply font-bold;
  @apply text-white;
}

.content h3 {
  @apply mt-4;
  @apply mb-4;
  @apply text-xl;
  @apply font-bold;
  @apply text-white;
}

.content p ~ .badges {
  @apply -mt-4;
}

.content code {
  @apply bg-gray-200;
  @apply text-gray-800;
  @apply text-base;
  @apply px-2;
  @apply py-1;
  @apply mx-1;
  @apply ml-0;
}

.content pre {
  @apply bg-gray-200;
  @apply p-6;
  @apply mb-6;
}

.content pre code {
  @apply bg-transparent;
  @apply p-0;
  @apply block;
  @apply overflow-x-auto;
}

.content a {
  @apply text-red-300;
}

.content a:hover {
  @apply text-red-400;
}

.content hr {
  @apply mb-6;
  @apply mt-0;
  @apply border-gray-700;
}

.content blockquote {
  @apply pl-8;
  @apply -ml-8;
  border-left: 1px solid;
  @apply border-red-300;
  @apply text-gray-600;
  @apply italic;
}

.badges {
  @apply flex;
}

.badges a {
  @apply pr-4;
}

.highlight pre code {
  color: inherit !important;
  background-color: inherit !important;
  @apply block;
  @apply overflow-x-auto;
}
