<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

{{- $title := "" -}}
{{- if .IsHome }}
{{- $title = (.Site.Title) -}}
{{- else if .Title }}
{{- $title = (printf "%s | %s" .Title .Site.Title) -}}
{{- end }}
<title>{{ $title }}</title>

{{- with .Permalink }}
<link rel="canonical" href="{{ . }}">
{{- end }}

<link href="https://fonts.googleapis.com/css?family=Lato&display=swap" rel="stylesheet">
{{ if .Site.IsServer }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/dev/postcss.config.js") }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
{{ else }}
    {{ $style := resources.Get "css/styles.css" | postCSS (dict "config" "./assets/css/postcss.config.js") | minify | fingerprint }}
    <link rel="stylesheet" href="{{ $style.Permalink }}" integrity="{{ $style.Data.Integrity }}">
{{ end }}
