{{ define "main" }}
    <article class="text-gray-500 text-xl w-full">
        <div class="w-full md:w-3/5 leading-loose content mb-10">
            {{ .Content }}
        </div>

        <hr class="mb-10 bt-0 border-gray-700">

        <!-- listing recent blog posts -->
        {{ range first 15 .Site.Pages }}
            <!-- only list blog posts -->
            {{ if (and (eq .Section "blog") (.IsPage)) }}
                <div class="mb-10">
                    <p class="mb-2"><a href="{{ .Permalink }}" class="text-gray-400 font-bold">{{ .Title }}</a></p>
                    <p class="inline text-xs bg-red-400 text-white px-4 py-2">{{ .PublishDate.Format "January, 2006" }}</p>
                </div>
            {{ end }}
        {{ end }}
    </article>
{{ end }}
