{{ define "main" }}
<article class="text-gray-500 text-xl w-full">
    <hr class="mb-10 bt-0 border-gray-700">

    <div class="mb-8">
        <h1 class="inline text-2xl pb-2 text-gray-400 font-bold border-b border-red-400">Blog</h1>
    </div>

    <!-- listing recent blog posts -->
    {{ range .Pages }}
        <div class="mb-10">
            <p class="mb-2"><a href="{{ .Permalink }}" class="text-gray-400 font-bold">{{ .Title }}</a></p>
            <p class="inline text-xs bg-red-400 text-white px-4 py-2">{{ .PublishDate.Format "January, 2006" }}</p>

            {{ with .Params.tags }}
                <p class="inline text-xs bg-red-300 text-white px-3 py-2 mr-2">#{{ delimit . "</p><p class=\"inline text-xs bg-red-300 text-white px-3 py-2 mr-2\">#" }}</p>
            {{ end }}
        </div>
    {{ end }}
</article>
{{ end }}
